@use './base' as *;

.bg-pattern {
  width: 50vw;
  height: 50rem;
  background-color: $color-secondary;
  border-bottom-left-radius: 7rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.header {
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 810px) {
    padding: 6rem 8rem;
  }

  @media (min-width: 1140px) {
    padding: 10rem 17rem 0 17rem;
  }

  &__logo {
    width: clamp(2.5rem, 3vw, 3rem);
  }

  &__btn {
    background: unset;
    border: 0;
  }

  &__hamburger {
  }

  &__nav {
    display: none;
  }

  &__list {
    list-style: none;
  }

  &__item {
  }

  &__link {
    &--gray {
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;

  @media (min-width: 1140px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    align-items: center;
  }

  &__img {
    max-width: clamp(140%, 5vw, 190%);

    &-wrapper {
      padding-inline: 1rem;
      position: relative;
      overflow-x: hidden;

      @media (min-width: 810px) {
        padding-inline: 3rem;
      }

      @media (min-width: 1140px) {
        grid-column: 2 / -1;
      }
    }
  }

  &__content {
    padding: 4rem 3rem;

    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: 810px) {
      padding: 6rem 3rem 6rem 8rem;
    }

    @media (min-width: 1140px) {
      padding: 6rem 3rem 6rem 17rem;
      grid-column: 1 / 2;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (min-width: 1140px) {
      &:last-child {
        margin: 7rem 0;
      }
    }
  }

  &__text {
    text-transform: uppercase;

    &--new {
      color: $color-secondary;
      background-color: $color-primary;
      border-radius: 5rem;
      padding: 0.3rem 1rem;
    }

    &--gray {
      font-size: 1.4rem;
      color: $color-primary--light;
      font-weight: 400;
      letter-spacing: 0.5rem;
    }
  }

  &__heading {
    color: $color-primary;
    font-size: clamp(4rem, 5vw, 6rem);
    text-transform: uppercase;
    line-height: 1.1;
  }

  &__description {
    max-width: 30rem;
    color: $color-primary--dark;
    font-size: 1.8rem;
    font-family: $font-secondary;
  }

  &__btn {
    color: $color-secondary;
    background-color: $color-tertiary;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    flex-shrink: 0;

    @media (min-width: 1140px) {
      font-size: 2rem;
      padding: 1.5rem 3rem;
    }
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 2rem;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-tertiary;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
  }
}
