@use './base' as *;

.bg-pattern {
  width: 50vw;
  height: 50rem;
  background-color: $color-secondary;
  border-bottom-left-radius: 7rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.header {
  padding: 4rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide-in--down 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) alternate
    forwards;

  @media (min-width: 810px) {
    padding: 6rem 8rem;
  }

  @media (min-width: 1140px) {
    padding: 10rem 17rem 0 17rem;
  }

  &__logo {
    width: clamp(2.5rem, 3vw, 3rem);
  }

  &__btn {
    background: unset;
    border: 0;
  }

  &__hamburger {
    @media (min-width: 810px) {
      display: none;
    }
  }

  &__nav {
    width: 85%;
    max-width: 65rem;
    background-color: $color-secondary--light;
    box-shadow: rgba($color-primary, 0.35) 0px 5px 15px;
    padding: 3rem;
    position: absolute;
    top: 10rem;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.nav--is-open {
      opacity: 1;
      visibility: visible;
    }

    @media (min-width: 810px) {
      all: revert;
    }
  }

  &__list {
    list-style: none;
    text-align: center;

    @media (min-width: 810px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;

      @media (min-width: 810px) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-primary;
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1rem;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 0.1rem;
        background-color: $color-primary;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.3s;
      }

      &:hover,
      &:active {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }

      @media (min-width: 1140px) {
        font-size: 1.6rem;
      }
    }

    &--gray {
      &:link,
      &:visited {
        width: 100%;
        color: $color-primary--light;
        border-top: 0.1rem solid rgba($color-primary--light, 0.3);
        padding-top: 2rem;
        display: inline-block;

        @media (min-width: 810px) {
          width: unset;
          border-top: unset;
          padding: 0;

          &::before {
            content: '·';
            margin-right: 4rem;
            font-size: 2rem;
          }

          &::after {
            content: '';
            width: 0;
            height: 0.1rem;
            background-color: $color-primary;
            position: absolute;
            left: 4.5rem;
            bottom: 0;
            opacity: 0;
            transition: all 0.3s;
          }

          &:hover,
          &:active {
            &::after {
              width: 47%;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;

  @media (min-width: 1140px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    align-items: center;
  }

  &__img {
    max-width: clamp(140%, 2vw, 190%);

    &-wrapper {
      padding-inline: 1rem;
      position: relative;
      z-index: -1;
      overflow-x: hidden;

      animation: slide-in--right 1.5s cubic-bezier(0.79, 0.14, 0.15, 0.86)
        alternate forwards;

      @media (min-width: 810px) {
        padding-inline: 3rem;
      }

      @media (min-width: 1140px) {
        grid-column: 2 / -1;
      }
    }
  }

  &__content {
    padding: 4rem 3rem;
    animation: slide-in--left 1.5s cubic-bezier(0.79, 0.14, 0.15, 0.86)
      alternate forwards;

    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: 810px) {
      padding: 6rem 3rem 6rem 8rem;
    }

    @media (min-width: 1140px) {
      padding: 6rem 3rem 6rem 17rem;
      grid-column: 1 / 2;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (min-width: 1140px) {
      &:last-child {
        margin: 7rem 0;
      }
    }
  }

  &__text {
    text-transform: uppercase;

    &--new {
      color: $color-secondary;
      background-color: $color-primary;
      border-radius: 5rem;
      padding: 0.3rem 1rem;
    }

    &--gray {
      font-size: 1.4rem;
      color: $color-primary--light;
      font-weight: 400;
      letter-spacing: 0.5rem;
    }
  }

  &__heading {
    color: $color-primary;
    font-size: clamp(4rem, 5vw, 6rem);
    text-transform: uppercase;
    line-height: 1.1;
  }

  &__description {
    max-width: 30rem;
    color: $color-primary--dark;
    font-size: 1.8rem;
    font-family: $font-secondary;
  }

  &__btn {
    color: $color-secondary;
    background-color: $color-tertiary;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    flex-shrink: 0;
    transition: all 0.3s;

    &:hover {
      background-color: rgba($color-tertiary, 0.7);
      cursor: pointer;
    }

    @media (min-width: 1140px) {
      font-size: 2rem;
      padding: 1.5rem 3rem;
    }
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 2rem;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-tertiary;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
  }
}

.blink-1 {
  animation: blink 0.8s infinite both;
}

.blink-2 {
  animation: blink 0.9s infinite both;
}

.blink-3 {
  animation: blink 1s infinite both;
}

// @keyframes slide-in--left {
//   0% {
//     transform: translateX(-100%);
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes slide-in--right {
//   0% {
//     transform: translateX(100%);
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes slide-in--down {
//   0% {
//     transform: translateY(-100%);
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes blink {
//   0% {
//     opacity: 1;
//   }

//   50% {
//     opacity: 0.5;
//   }

//   100% {
//     opacity: 1;
//   }
// }
